.bikes{
    background-color: #202020;
    height: 100vh;
}

p{
    text-align: center;
    font-style: italic;
    color:white;
    
}

h1{
    text-align: center;
    padding: 10px;
    font-style: italic;
    color:white;
    text-shadow: 2px 2px #DC3545;
}


  